version: "3.8"

services:
  nginx:
    image: nginx:latest
    ports:
      - "81:80"
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_started
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      target: production
    expose:
      - "80"
    restart: unless-stopped

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    working_dir: /app
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: mysecret
      DB_NAME: musicdb
      DB_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecret
      POSTGRES_DB: musicdb
    volumes:
      - ./db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
